[2019-02-22 11:05] strogonoff opened #1 "Build instructions?"
What’s the minimal build instructions for an ITU sample document?

[2019-02-22 11:24] ronaldtse commented on #1
In this repo, just “bundle” and “make”.

[2019-02-22 12:18] strogonoff commented on #1
Great!

[2019-02-22 12:18] #1 closed, assigned to nobody

[2019-06-09 07:09] ronaldtse opened #2 "Update bundle to work with non-git gems"
Right now the Gemfile lists out git-gems. We want this repository to work with properly released gems. Task for @opoudjis .

[2019-06-15 04:44] CAMOBAP opened #3 "couldn't install the ruby-xslt gem in this bundle"
From @ronaldtse

ITU says they couldn't install the ruby-xslt gem in this bundle: https://github.com/metanorma/mn-itu-docs

"""

AFAIK action items are:
 - Add Appveyor CI
 - ~Update Gemfile.lock~ will be done in the scope of https://github.com/metanorma/mn-itu-docs/issues/2

[2019-06-19 03:17] ronaldtse commented on #3
@CAMOBAP795 We're pending on this, right?

[2019-07-13 20:44] #3 closed, assigned to CAMOBAP

[2019-07-27 11:56] CAMOBAP commented on #2
@ronaldtse looks like fixed already because https://github.com/metanorma/mn-itu-docs/blob/master/Gemfile use gems from rubybems.org only

[2019-07-27 16:30] ronaldtse commented on #2
Thanks!

[2019-07-27 16:30] #2 closed, assigned to CAMOBAP

[2019-09-09 16:13] ronaldtse opened #6 "Convert ITU provided documents under `reference-docs/`"
ITU has given three documents to exercise the compiler, I put them under `reference-docs/`.

The purposes are:

* Y.3507: contains figures inside a table
* G.650.1: contains a number of equations, and
* Z.100 Annex F1: uses different types of fonts.

@opoudjis could you please help convert them? Thanks!

[2019-09-16 08:02] ronaldtse commented on #6
@hofmannedv , @opoudjis will let you know which document to handle here. He has done a preliminary conversion of the documents, and will make the drafts available here.

[2019-09-16 12:30] opoudjis commented on #6
I have indeed done that, and have emailed @hofmannedv and @zoras instructions for their respective documents.

The different fonts... are not implemented in Metanorma; what is implemented is smallcap and bold/italic/smallcap combinations, which are abundant in the document. And I hope that's what they intended for Z.100 Annex F1.

[2019-09-24 05:05] opoudjis commented on #6
Task assignment is:

* Y.3507: @tgolubev
* G.650.1: @zoras and @anermina
* Z.100 Annex F1: @hofmannedv and @manuel489

[2019-09-30 00:54] opoudjis opened #7 "Review Tim's asciidoc"

[2019-09-30 13:35] #7 closed, assigned to opoudjis

[2019-10-04 01:35] ronaldtse commented on #6
Pinging all @editors : its been a week and a half since the assignments and we need the documents completed within 48 hours. Let me or @opoudjis know if you run into any problems.

[2019-10-07 00:22] opoudjis opened #8 "Investigate compilation warnings for G.650"
In response to @anermina: need to investigate warnings about crossreferences:

[code]

These may or may not be mark up issues. It may be that anchors must not contain underscores (which is a problem, given that reverse_adoc is generating these.)

There is also a profusion of bibitem/relation and other errors in the grammar parse, which need to be looked at.

[2019-10-07 10:14] opoudjis commented on #8
The former issues with `<em>` embedded in anchors are because `__` inside of anchors is being treated by Asciidoctor as a word-internal italics marker. That should just be eliminated in any Word to Asciidoctor conversion https://github.com/metanorma/reverse_adoc/issues/29. Will ask editors to remove from their documents.

[2019-10-10 23:08] ronaldtse opened #9 "Implement GitHub Actions"
And remove from AppVeyor.

[2019-10-13 17:06] manuelfuenmayor opened #12 "Lines that only have inline equations get centered (DOC file output)"
In blockquote and example block, the lines that only have inline equations get centered.

[ce-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3721998/ce-issue-sample.zip)

[2019-10-13 17:09] manuelfuenmayor opened #13 "Lines that include line-break character (+) get justified-aligned (DOC output)"
In blockquote, the lines that include line-break character (+) get justified-aligned (instead of left-aligned), making them look strange. (This only happens in doc output.)

[jl-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3722000/jl-issue-sample.zip)

[2019-10-13 17:31] manuel489 opened #14 "Italic text isn't working in math mode (DOC output)"
stem:[ii"italic text"] renders as normal text (in doc output).

[2019-10-14 07:05] opoudjis commented on #14
AsciiMath correctly converts to MathML as `<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle mathvariant="italic"><mtext>italic text</mtext></mstyle></math>`

The `mml2omml.xsl` stylesheet looks like it should be recognising mstyle, mathvariant, and italic.

But the OOXML output is:

[code]

I italicised the Math expression and saved it as HTML; this generated the inevitably noiser OOXML

[

[2019-10-14 07:19] opoudjis commented on #14
Creating a new document from scratch, and italicising it, gave me:

[code]

... This is bad news: it seems the only way to get font styles from MathML to be respected in Word is to convert them not to OOXML, but to HTML.

From the XSLT, it seems that italic is ignored, because that is supposed to be the default for mathematical expressions (`<m:nor/>` is empty). But of course this is text not a ma

[2019-10-14 07:20] ronaldtse commented on #14
Question. Why is italicized text needed in Math mode?

[2019-10-14 13:31] opoudjis commented on #14
[code]

Converts correctly to MathML as:

[code]
<m:oMath>
    <m:r><m:rPr><m:nor></m:nor></m:rPr><m:t>italic text 1</m:t></m:r>
    <m:r><m:rPr><m:nor></m:nor></m:rPr><m:t>italic text 2</m:t></m:r>
    <m:r><m:rPr><m:nor></m:nor></m:rPr><m:t>italic text 3</m:t></m:r>
</m:oMath>
[code]

[2019-10-14 14:16] opoudjis commented on #14
Ahah! We were using a version of MathJax that did not support fonts. Need to change config from

[code]

to

[code]

[2019-10-14 14:34] opoudjis commented on #14
I have copy pasted the foregoing MathML into Word; copy pasting MathML into Word works. No font styling is preserved.

So this is an existing Word issue. The Word stylesheet converting MathML into OOXML internally is buggy: not just the prerelease version we use, but the production version. Applies to both Mac and Windows.

The workaround, as indicated above, is to overwrite `<mstyle mathvariant="

[2019-10-15 12:03] opoudjis commented on #12
This is Word being clever: it is automatically assuming that any Math expression on its own in a paragraph has to be centered, because it's an equation.

The thing is, this is not that unreasonable an assumption. And this is an edgecase, because

(a) the proper formatting of pseudocode, such as what you've got here, is to put a break line at the end of every new line, and not make each new line a

[2019-10-15 12:03] #12 closed, assigned to opoudjis

[2019-10-15 12:18] opoudjis commented on #13
This is because, exceptionally, blockquotes are in fact justified.

In fact, that's because *all* paragraphs in ITU are supposed to be justified and I've only captured this for blockquotes as a new style. And this is the behaviour of line breaks in Word with justified paragraphs, and it's expected behaviour; the only reason we aren't seeing that in HTML is that HTML is not normally justified.

The

[2019-10-15 12:35] opoudjis commented on #13
Leaning to pseudocode, should be enough. Adding indent and font size to Word rendering of pseudocode.

[2019-10-15 13:21] manuelfuenmayor opened #16 "Difference between margins in example block (DOC output only)"
In example block, there is a noticeable difference between paragraph margin and list block margin.

[me-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3729454/me-issue-sample.zip)

![sample (metanorma-compiled)](https://user-images.githubusercontent.com/33627611/66835194-1536f200-ef2d-11e9-97c8-33432b81574b.JPG)

![sample (original doc)](https://user-images.githubusercontent.c

[2019-10-16 11:08] opoudjis commented on #8
With images restored, and anchors addressed, those warnings have disappeared. I am addressing here syntax errors:

* biblio.rnc does not allow paragraphs or definition lists in bibdata/abstract, only formatted strings. I may update biblio.rnc to include paragraphs etc, but I'm not convinced I should. Issue I will leave open: https://github.com/metanorma/metanorma-standoc/issues/138
* I'm allowing

[2019-10-16 11:09] opoudjis commented on #8
There are other errors, but they are to do with markup, and I cannot work on this further now.

[2019-10-21 02:23] ronaldtse opened #19 "Convert ITU-T A.8 and WTSA Resolution 1"
* https://www.itu.int/rec/T-REC-A.8-200810-I/en
* https://www.itu.int/pub/T-RES-T.1-2016

@anermina do you have time to help convert both of these? I've added them to reference-docs. Thanks!

[2019-10-21 02:34] ronaldtse opened #20 "Convert ITU-T Editing Guidelines"
I've uploaded the ITU-T Editing Guidelines to reference-docs/. @anermina could you please help convert it? Thanks!

[2019-10-21 02:43] ronaldtse commented on #6
These are done, closing.

[2019-10-21 02:43] #6 closed, assigned to opoudjis, hofmannedv, tgolubev, manuelfuenmayor, anermina

[2019-10-21 10:11] opoudjis commented on #16
We've inherited too much indentation for examples from ISO, which is not warranted for ITU anyway, and examples + list indentation is not working.

[2019-10-21 10:15] opoudjis commented on #16
Oops. No, that doesn't work, because of EXAMPLE caption.

[2019-10-21 10:23] opoudjis commented on #16
Unindentended EXAMPLE caption. Will review other flavours.

[2019-10-21 10:29] opoudjis commented on #16
Adjusting all indented examples to propagate indentation by indenting only div.example

[2019-10-21 10:39] #16 closed, assigned to opoudjis

[2019-10-22 15:28] anermina commented on #19
Document style for resolution is quite different than for recommendation. As I understood, :doctype: resolution is not completely implemented yet. Please correct me if I'm wrong.
Should I report all the noticed differences as issues?

I also have one question regarding the clauses in A.8 recommendation, which also seem to be different than those in the documents I've been working on so far.
In thi

[2019-10-22 16:20] ronaldtse commented on #19
@anermina sorry for starting this early; let’s put these two documents on hold for now, we need to resolve these gaps with ITU first.

[2019-10-22 16:37] anermina commented on #19
@ronaldtse no problem, I'll just switch to #20 .

[2019-10-22 16:52] ronaldtse commented on #19
Perfect. Thanks!

[2019-10-22 16:54] ronaldtse commented on #20
Hope the formatting isn’t too difficult to achieve here. There are tables and sample referencing.

[2019-10-22 23:56] manuelfuenmayor opened #21 "Pseudocode title renders as figure title"
If the pseudocode block has a title, it renders as figure title. (Additionally, the background color changes.)

[pseudocode-title.zip](https://github.com/metanorma/mn-samples-itu/files/3759141/pseudocode-title.zip)

![capture](https://user-images.githubusercontent.com/33627611/67344356-db09b980-f505-11e9-9665-3f93b558aaa3.JPG)

[2019-10-23 00:03] manuelfuenmayor opened #22 "Pseudocode lines get centered in DOC output"
[pseudocode-lines-issue.zip](https://github.com/metanorma/mn-samples-itu/files/3759176/pseudocode-lines-issue.zip)

![capture](https://user-images.githubusercontent.com/33627611/67344845-f6c18f80-f506-11e9-95b5-d2f67f91438d.JPG)

[2019-10-23 13:13] opoudjis commented on #21
And indeed, that's because we have to treat pseudocode as *some* sort of asset, and right now we're electing to treat it as figure. But this is inconsistent, true enough: they should be treated consistently with sourcecode, even if they are not labelled as such. So they should not be numbered as figures but just captioned as sourcecode.

I am taking the approach of marking pseudocode up as figures

[2019-10-23 13:23] opoudjis commented on #21
In ITU HTML, sourcecode has `background-color: #f6f6f6;`, and pseudocode has `background-color: #dddddd;`. That discrepancy is unmotivated, and I will make pseudocode have the same background colour as sourcecode. If pseudocode shouldn't have a background colour in HTML, neither should sourcecode.

[2019-10-23 13:47] manuelfuenmayor commented on #21
Hi Nick, I'd recommend to make pseudocode background color same to the example
environment as there are cases where examples include pseudocodes.
Additionally, as suggestion, I think it would be good to make the
background color removable by the user?

On Wed, Oct 23, 2019 at 9:23 AM Nick Nicholas <notifications@github.com>
wrote:

[2019-10-23 13:48] opoudjis commented on #22
Yes, bug fixed in isodoc.

[2019-10-23 13:51] opoudjis commented on #21
cc'ing @ronaldtse

Again, we do not allow users the option of customising rendering on something like this, and I don't believe we should. Likewise, we already have different colour for examples and sourcecode throughout the Metanorma stack for HTML output; I don't believe we should make an exception here, although I'm open to example colour taking priority over the colour of any blocks it contain

[2019-10-23 13:55] manuelfuenmayor commented on #21
Ok, I understand.

[2019-10-23 14:00] ronaldtse commented on #21
Agree.

What is the motivation for this -- is it because a sourcecode block within an example is an "example"? i.e. all items inside an "example" takes the example background color?

[2019-10-23 14:06] opoudjis commented on #21
Motivation is so you don't have patchwork of colours. I would rather the patchwork and logical use of colours, but I am open to being persuaded.

[2019-10-23 14:10] ronaldtse commented on #21
@opoudjis logical is good. Special cases not so much, they're hard to manage...

[2019-10-23 14:11] manuelfuenmayor commented on #21
For example, this piece of text is a normal example block that includes pseudocode:

![capture2](https://user-images.githubusercontent.com/33627611/67401647-768a4100-f57d-11e9-9bec-457b4b1d8517.JPG)

But, if I use pseudocode environment, I get:

![capture](https://user-images.githubusercontent.com/33627611/67401680-7e49e580-f57d-11e9-97ff-357f4d67f6d7.JPG)

[2019-10-23 14:13] opoudjis commented on #21
Could you please paste in the markup for these two?

[2019-10-23 14:30] manuelfuenmayor commented on #21
Ok,

First image markup:

[code]
Second image markup:

[code]

[2019-10-23 14:46] opoudjis commented on #21
As I thought. Well, the shading goes by block. If you included the pseudocode inside an example,

[code]

[2019-10-23 14:52] manuelfuenmayor commented on #21
Oh yes, I tested that option too.

[code]
But I discarded it when I checked the output:

![capture3](https://user-images.githubusercontent.com/33627611/67405723-257d4b80-f583-11e9-8425-d6e637d36cfd.JPG)

[2019-10-23 14:56] opoudjis commented on #21
Your markup won't work: if you embed an example within an example, you need the embedded block to have a different count of delimiters:

[code]

In your markup, the Asciidoctor parser is closing the example when it sees the second instance of `====`.

[2019-10-23 15:01] manuelfuenmayor commented on #21
Ohh I see. Didn't notice that detail. Thanks @opoudjis.

[2019-10-23 15:22] manuelfuenmayor opened #23 "Math font is rendering bigger and boldfaced in HTML output"
Stem equations get bigger and boldfaced in HTML output (didn't happen before).

[equations-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3763129/equations-issue-sample.zip)

[2019-10-23 16:00] manuelfuenmayor opened #24 "Strange math rendering"
This is a strange case.

I need to typeset this piece of text:

![capture1](https://user-images.githubusercontent.com/33627611/67411629-ed2e3b00-f58b-11e9-96fd-e64ecc1e45e7.JPG)

For which I use the following markup:
[code]
And I get this:

![capture2](https://user-images.githubusercontent.com/33627611/67411840-4007f280-f58c-11e9-8955-653e6d3d2517.JPG)

The problem seems to be exclusive for stem:[

[2019-10-23 16:33] ronaldtse commented on #24
@manuel489 I think `+...+` means passthrough, you might want to `\+` the first plus sign?

[2019-10-23 20:56] manuelfuenmayor commented on #24
@ronaldtse Yes! It works. Thanks.

[2019-10-23 20:58] #24 closed, assigned to opoudjis

[2019-10-23 23:26] ronaldtse commented on #24
Perfect!

[2019-10-23 23:55] #22 closed, assigned to opoudjis

[2019-10-24 12:40] #23 closed, assigned to opoudjis

[2019-10-25 02:41] manuelfuenmayor opened #25 "Images left-aligned (DOC output)"
Images are left-aligned in figure environment (DOC output).

[figure-sample-issue.zip](https://github.com/metanorma/mn-samples-itu/files/3770152/figure-sample-issue.zip)

![capture](https://user-images.githubusercontent.com/33627611/67539134-30cd9580-f6af-11e9-88c1-20bd0e089cff.JPG)

[2019-10-25 03:02] manuelfuenmayor opened #26 "Vertical spacing in example block (DOC output)"
There is no vertical space between paragraphs in example block (doc output). I think, in some cases, it may be necessary for styling purposes.
[example-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3770168/example-issue-sample.zip)

![capture1](https://user-images.githubusercontent.com/33627611/67540028-f74a5980-f6b1-11e9-918e-72ae8c4f9f04.JPG)

![capture2](https://user-image

[2019-10-25 03:26] ronaldtse commented on #26
@manuel489 I agree, and in fact, this also applies to ISO Word output. The text contained within an EXAMPLE is not indented causing readers to wonder whether the text following the EXAMPLE belongs to the EXAMPLE or a separate paragraph.

[2019-10-25 19:31] anermina commented on #20
I'm not sure why authors labeled some tables as figures in the original document, but these are converted as tables using reverse_adoc. Since they are not figures/images even in the original document, I'm not sure how this should be interpreted in Metanorma...

Is there a possibility to force changing the label from "Table" to "Figure"?

![image](https://user-images.githubusercontent.com/55683568/

[2019-10-25 21:09] manuelfuenmayor opened #27 "List titles get divided in lines (DOC output)"
If a list title is composed by two or more words, it gets divided in lines (one per word). Please, look at the sample below for clarification purposes.

[issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3773793/issue-sample.zip)

**Sample List:**

[code]
![capture1](https://user-images.githubusercontent.com/33627611/67604628-14326b80-f74a-11e9-927c-0e39416aec12.JPG)

![capture2]

[2019-10-26 03:24] opoudjis commented on #25
Impose "figure" style on paragraphs wrapping images in Word; Word stylesheets cannot do the inheritance that HTML CSS can.

[2019-10-26 03:46] #25 closed, assigned to opoudjis

[2019-10-26 04:02] opoudjis commented on #26
Quite right. The Word stylesheets are not differentiating div.example from p.example with regard to spacing before/after.

[2019-10-26 04:40] #26 closed, assigned to opoudjis

[2019-10-26 05:00] opoudjis commented on #27
We have implemented definition lists as tables in Metanorma, and we are relying on Word autowidth here. (And believe me, the alternative is going to be unworkable, though I did consider it for https://github.com/metanorma/metanorma-itu/issues/43). It is Word autowidth that is deciding to wrap the left column. Keep Lines Together on the text in the left hand column is being ignored by Word.

I beli

[2019-10-27 06:54] ronaldtse commented on #21
@opoudjis We don't have guidance re: HTML formatting. I'd say that the current background of "figures" is too dark for pseudocode (we probably should treat pseudocode like a type of code).

[2019-10-29 06:14] #13 closed, assigned to opoudjis

[2019-10-29 10:56] opoudjis commented on #21
The current setup in HTML is:

.figure, .Sourcecode: background-colour: #f6f6f6;

.pseudocode: #f6f6f6;

.example: background-color: #e1eef1;

.example .Sourcecode:      background: none;

So:

Figures, Pseudocode, and Sourcecode all in fact have the same background colour (as of 6 days ago). We ignore the background colour of sourcecode embedded in *examples*; we will do the same for pseudocode.

[2019-10-29 10:58] #21 closed, assigned to opoudjis

[2019-10-29 13:45] opoudjis commented on #20
Sorry, Nermina, I have not been monitoring these.

You can force a figure interpretation by embedding the table (unnumbered) within a figure, though I'll admit I'm not convinced that will work. Strictly speaking, this is an abuse of formatting. If that doesn't work, just leave it as a table for now. Moving to Metanorma is forcing some necessary loss of freedom...

[2019-10-30 00:52] manuelfuenmayor opened #30 "Footnote text in table environment gets justified-aligned (DOC output)."
Only in DOC output:
[footnote-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3786412/footnote-issue-sample.zip)

[2019-10-30 01:02] manuelfuenmayor opened #31 "Lines get justified-aligned when a line-break is added in table environment (DOC output)"
Please, refer to the sample:

[table-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3786427/table-issue-sample.zip)

![capture7](https://user-images.githubusercontent.com/33627611/67820379-65669600-fa8f-11e9-9df2-b082900b84ea.JPG)

[2019-10-30 01:16] manuelfuenmayor opened #32 "Crossreferences font size are smaller than normal text (DOC output)"
Please, refer to the sample:
[crossreference-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3786463/crossreference-issue-sample.zip)

![capture8](https://user-images.githubusercontent.com/33627611/67820852-47019a00-fa91-11e9-8471-911d72917a05.JPG)

[2019-10-30 01:27] manuelfuenmayor opened #33 "Nested pseudocode renders large vertical space (HTML output)"
In Example environment, the distance between pseudocode block and external text is too large. See sample below.

[pseudocode-issue-sample.zip](https://github.com/metanorma/mn-samples-itu/files/3786487/pseudocode-issue-sample.zip)

![capture4](https://user-images.githubusercontent.com/33627611/67821257-bd52cc00-fa92-11e9-90e2-ef4e30ff3f4e.JPG)

[2019-11-02 14:54] manuelfuenmayor opened #35 "Wrong page numbering in table of contents (DOC output)"
Page numbering renders as 1 in all sections

![capture-toc](https://user-images.githubusercontent.com/33627611/68072665-7698f680-fd5e-11e9-88f1-576cf98ce9ca.JPG)

I think this bug has influence in all the flavours.

[2019-11-03 05:44] opoudjis commented on #35
Known issue: the right numbering happens when you refresh the ToC (right-click, select update). To make this happen automatically on opening the document, we would have to inject a VB script to do so every time we open a Word Document, and that would have lots of bad consequences.

[2019-11-03 06:06] ronaldtse commented on #35
I think we ought to mention this in the online documentation. Where can we put this?

[2019-11-03 16:18] anermina commented on #20
@opoudjis Thanks, Nick.

Embedding the table within a figure results in this:
![image](https://user-images.githubusercontent.com/55683568/68088277-b5fa3c80-fe5d-11e9-86a4-859cdfa77742.png)

so I will just leave it as a table:
![image](https://user-images.githubusercontent.com/55683568/68088288-df1acd00-fe5d-11e9-8645-953c83d59780.png)

This is the original:
![image](https://user-images.githubuserc

[2019-11-03 22:54] opoudjis commented on #30
Confirmed with Table 1, Editing Guidelines. Normal footnotes OTOH are justified.

[2019-11-03 22:55] #30 closed, assigned to opoudjis

[2019-11-03 23:01] opoudjis commented on #31
Text in tables is indeed either left or center aligned in the samples, never justified.

[2019-11-03 23:19] opoudjis commented on #31
Alignment is in fact being processed in Metanorma; but Word does not propagate table cell alignment into the paragraphs underneath it. (Recall that Word CSS is poorly implemented.) Will propagate in isodoc.

[2019-11-03 23:20] manuelfuenmayor commented on #31
@opoudjis, the issue raises when the style option is applied to the cell, i.e. by prefixing the cell with `a` (`a|`)
Here's a modified version of the sample where all the lines of the second column get justified.
[code]

[2019-11-03 23:28] opoudjis commented on #31
The issue is arising because, when there is asciidoc styling, the renderer inserts a paragraph in the HTML source, but in Word that paragraph is ignoring any alignment on its table cell parent. Am fixing now.

[2019-11-04 00:14] #31 closed, assigned to opoudjis

[2019-11-04 13:07] #33 closed, assigned to opoudjis

[2019-11-04 13:08] opoudjis commented on #32
URL styling is being applied to cross references. It should only be applied to actual urls, as opposed to any hyperlinked text. The original does not have this problem, because it is not hyperlinking cross-references...

... actually, simplest thing is simply not to hyperlink crossreferences.

[2019-11-04 13:33] #32 closed, assigned to opoudjis

[2019-11-06 00:40] opoudjis opened #40 "Comments on review by Ronald"

[2019-11-06 03:36] opoudjis commented on #35
https://www.metanorma.com/author/topics/building/output-formats/

[2019-11-06 07:19] #40 closed, assigned to opoudjis

[2019-11-06 08:37] opoudjis commented on #35
Done

[2019-11-06 08:37] #35 closed, assigned to opoudjis

[2019-11-06 21:39] CAMOBAP commented on #9
CI is green, removed from appveyor

[2019-11-06 21:39] #9 closed, assigned to CAMOBAP

[2019-11-11 02:09] ronaldtse opened #46 "Extract inlined images into external files"
The inlined base-64 images pollute the text files in text editors, especially for newcomers. Let's get them extracted into separate image files.

[2019-11-11 05:10] ronaldtse commented on #27
I think an option of "non-breaking term" (of the left column) is a reasonable alternative.

[2019-11-13 17:08] ronaldtse commented on #19
Yes please!

The way to indicate untitled clauses is:

[code]

[2019-11-21 12:40] opoudjis commented on #27
The only way that is feasible is by replacing all spaces in the left term with non-breaking spaces in Word output. Is that what you want?

I think that would be a bad idea.

[2019-11-21 12:59] opoudjis commented on #27
The alternative of fixed width will also not generalise. We are electing to document that this is an issue, and suggest people use non breaking space.

[2019-11-21 13:13] #27 closed, assigned to opoudjis

[2019-11-25 15:53] ronaldtse opened #48 "Convert P.1203 to Metanorma"
This task is to convert P.1203 to Metanorma and add to this repository.

[T-REC-P.1203-201710-I!!MSW-E.docx](https://github.com/metanorma/mn-samples-itu/files/3887402/T-REC-P.1203-201710-I.MSW-E.docx)

[2019-11-25 15:54] ronaldtse opened #49 "Convert G.191 to Metanorma"
[ITU-T_G_191__01_2019_.pdf](https://github.com/metanorma/mn-samples-itu/files/3887409/ITU-T_G_191__01_2019_.pdf)
[ITU-T_G_191__01_2019_.docx](https://github.com/metanorma/mn-samples-itu/files/3887411/ITU-T_G_191__01_2019_.docx)

[2019-11-27 09:57] ronaldtse opened #53 "Uncomment references in G.191 once Relaton ITU is fixed"
@manuel489 the References are still problematic, we are waiting for @andrew2net to fix https://github.com/relaton/relaton-itu/issues/32 . But let's merge this first.

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-samples-itu/pull/51#issuecomment-559015882_

[2019-11-27 09:57] ronaldtse commented on #49
Done in #51

[2019-11-27 09:57] #49 closed, assigned to manuelfuenmayor

[2019-11-27 09:57] ronaldtse commented on #48
Done in #50

[2019-11-27 09:58] #48 closed, assigned to anermina

[2019-11-28 12:12] #46 closed, assigned to nobody

[2019-11-30 01:01] ronaldtse commented on #53
Closed by #55

[2019-11-30 01:02] #53 closed, assigned to nobody

[2019-12-02 00:43] opoudjis opened #57 "Add MacOS workflow to GitHub Actions"

[2020-01-10 01:29] opoudjis commented on #8
Massive increase in error reporting with the update to asciimath, validation is complaining about attributes in MathML namespace. Need to ensure attributes are ignored in extraneous namespaces, as part of xs:any.

[2020-01-12 11:08] opoudjis commented on #8
Allow content sections (preface) to have hanging paragraphs.

[2020-01-12 11:26] opoudjis commented on #8
All 10 remaining issues are hanging paragraphs, and orphan terms. These should be reported as issues for good practice.

[2020-01-12 11:26] #8 closed, assigned to opoudjis

[2020-01-12 11:49] ronaldtse commented on #8
@opoudjis can we have actual warnings that says "hanging paragraphs" and "orphan terms"?

[2020-01-12 13:40] opoudjis commented on #8
https://github.com/metanorma/metanorma-standoc/issues/193, https://github.com/metanorma/metanorma-standoc/issues/194

[2020-01-26 06:12] ronaldtse opened #59 "Utilize user-specified reference tags citation syntax"
Utilize new citation syntax implemented in https://github.com/metanorma/metanorma-standoc/issues/159 .

Many ITU references go with "[b-ITU xxx]", and this repo's documents will need this.

Ping @manuel489 thanks!

[2020-02-24 13:03] manuelfuenmayor commented on #59
Added in https://github.com/metanorma/mn-samples-itu/pull/65

[2020-03-15 14:49] CAMOBAP commented on #57
Done

[2020-03-15 14:49] #57 closed, assigned to CAMOBAP

[2020-03-29 14:07] manuelfuenmayor commented on #59
@ronaldtse , is there something else remaining to do in this issue?

[2020-03-29 14:46] ronaldtse commented on #59
All good. Thanks!

[2020-03-29 14:46] #59 closed, assigned to manuelfuenmayor

[2020-04-24 13:28] anermina commented on #20
This document is merged. Closing.

[2020-04-24 13:28] #20 closed, assigned to anermina

[2020-04-24 13:29] anermina commented on #19
These documents are merged. Closing.

[2020-04-24 13:29] #19 closed, assigned to anermina

[2020-04-24 23:39] anermina opened #74 "ITU G.650: Cross-reference to the note in subsubclause"
Cross-reference to the note (in the images below) indicates the number of subclause, instead of the subsubclause where note is positioned. This doesn't happen in the attached test document using similar cross-referencing.

Original:
![image](https://user-images.githubusercontent.com/55683568/80261172-f5297d80-8689-11ea-9215-2c2459c6344c.png)

Generated:
![image](https://user-images.githubuserconte

[2020-04-29 16:13] anermina opened #79 "ITU H.782: Differences between the original and generated DOC"
Following differences were noticed:

- "W3C" is duplicated in generated DOC, although there is no duplication in .adoc:
`* [[[xmlschema, W3C XMLSchema]]] W3C Recommendation (2004), _XML Schema Part 2: Datatypes Second Edition_.`
`* [[[csstransforms,(b-W3C CSS Transforms)W3C CSS Transforms]]] W3C, _CSS_ _Transforms Module Level 1_. https://www.w3.org/TR/css-transforms-1/[https://www.w3.org/TR/css-t

[2020-04-29 17:21] anermina opened #81 "ITU J.1108 - reference document for checking .adoc"
Since we have a draft version for ITU J.1108 as a referent document, and the final version was published in the meanwhile, I would like to check how the .adoc should be modified.
Currently, it includes many "Draft [New]" tags.

Should I correct .adoc in accordance to https://www.itu.int/rec/T-REC-J.1108/en, or to the draft version from https://github.com/metanorma/mn-samples-itu/tree/master/refere

[2020-04-30 11:27] opoudjis commented on #74
Yes. Terms are not being tracked as containers for notes in crossreferences, so this is grabbing the nearest clause instead. Wow. An error of very long standing.

[2020-04-30 11:46] #74 closed, assigned to opoudjis

[2020-04-30 23:15] anermina opened #85 "ITU Y.3507: Differences between the original and generated DOC"
- Figures are numbered differently (they have chapter/section indication in the original document). Since this wasn't noticed in other ITU recommendations, this issue is opened just to double-check whether this is an inconsistency in the original ITU recommendations, which we can ignore (?). For example, original ITU P.1203 uses the same numbering style as generated DOC.

Generated:
![image](https

[2020-04-30 23:36] anermina opened #86 "ITU Z.100: (Un-)numbering pseudocode blocks"
In ITU Z.100, pseudocode is written between `====` delimiters marked with `[%unnumbered]` attribute, but it is still numbered as figure. Is there an option to avoid having a title? Delimiter `----` wouldn't be good in this case because of the text formatting.

Original:
![image](https://user-images.githubusercontent.com/55683568/80766926-e0942c00-8b46-11ea-9dea-e5c89f8058b8.png)

Generated:
![imag

[2020-05-06 09:20] opoudjis commented on #86
So are you saying `[%unnumbered]` on pseudocode results in a "Figure" caption, or a "Figure F1-45" caption?

Either is an error: if no title is provided, and the figure is unnumbered, there should be nothing there. Treating as a bug.

[2020-05-06 09:21] opoudjis commented on #85
Suggest escalating to Ronald, but inconsistencies are likely.

[2020-05-06 09:31] anermina commented on #86
It is resulting in "Figure x.y" caption (treated as numbered figure).

[2020-05-08 20:02] anermina commented on #79
Update: Following issue also appears in A.1500 (T-Editing Guidelines) document, so it might be some more general issue, rather document-specific.

Example from ITU A.1500:
![image](https://user-images.githubusercontent.com/55683568/81444513-8e22c300-9177-11ea-9f28-3b766f0e3081.png)

[2020-05-10 04:49] ronaldtse opened #94 "URGENT: Unable to build documents.html"
In mn-samples-itu, the Relaton index is not showing any document, but all are built. Reproduced locally as well. Seems like a Relaton-ITU problem?

<img width="619" alt="Screen Shot 2020-05-10 at 12 48 59 PM" src="https://user-images.githubusercontent.com/11865/81491107-a18b7680-92bc-11ea-90f9-544045e9eb3b.png">

[2020-05-10 19:02] andrew2net commented on #94
fixed https://github.com/relaton/relaton-itu/issues/38#issuecomment-626373444

[2020-05-10 19:02] #94 closed, assigned to andrew2net

[2020-05-14 14:28] ronaldtse opened #96 "Convert ITU G.191 STL manual (from LaTeX)"
G.191's source can be found here:

* https://github.com/openitu/STL/tree/dev/doc/manual
* https://github.com/simaocampos/STL-manual

The first link is supposed to be updated to 2019, the second is 2018.

If the first link works, we can ignore the second.

[2020-05-14 15:31] ronaldtse commented on #96
Ping @manuel489 @anermina when you have time. Thanks!

[2020-05-16 18:48] anermina commented on #96
I can take this task, but I think it's not named properly. Document which is available from the given link is "ITU-T Software Tool Library, release 2019" (STL manual), while we already have ITU G.191 converted here: https://github.com/metanorma/mn-samples-itu/blob/master/sources/G.191.adoc.

@ronaldtse , could you please confirm STL manual needs to be converted, so I can proceed?

[2020-05-16 21:04] anermina commented on #86
Update: I changed [pseudocode] to [.pseudocode], as per https://github.com/metanorma/metanorma-standoc/issues/275#issuecomment-627402563. Generated results are the same.

[2020-05-18 13:22] opoudjis commented on #86
Pseudocode has been ignoring the unnumbered attribute; fixing.

[2020-05-18 13:37] #86 closed, assigned to opoudjis

[2020-05-25 17:56] ronaldtse commented on #96
@anermina you're right, I've just fixed the title.

According to G.191, it says "Recommendation ITU-T G.191 includes an electronic attachment containing STL2019 and manual."

So we want to convert the manual here. Thanks!

[2020-05-28 10:50] opoudjis commented on #79
W3C references are now being fetched automatically. By default the SDO abbreviation is prefixed to the document number; in the autofetched references, W3C is already there, so W3C will no longer be auto-prefixed.

[2020-05-28 11:08] opoudjis commented on #79
ITU reference format is consistently: _[identifier]  Publisher (if recognised) Identifier, Title._ The identifier is "W3C XMLSchema". It may look similar to the title, but consistency is more important.

[2020-05-28 11:40] opoudjis commented on #79
Prevent double brackets in rendering.

[2020-05-28 12:32] opoudjis commented on #79
Forcing bibliography alignment by table.

[2020-05-28 12:42] opoudjis commented on #79
@anermina @manuel489 This is a significant change in how I'm processing bibliographies; please check all ITU documents.

[2020-05-28 12:51] #79 closed, assigned to opoudjis

[2020-05-29 01:13] manuelfuenmayor opened #105 "Check bibliographies in all ITU documents"
As requested in https://github.com/metanorma/mn-samples-itu/issues/79#issuecomment-635326000

Task is to check the bibliographies of all the documents from this repository.

[2020-05-29 01:13] manuelfuenmayor commented on #79
Ok @opoudjis , ticket created in https://github.com/metanorma/mn-samples-itu/issues/105

[2020-05-31 15:34] manuelfuenmayor commented on #105
After some checking, I found that the references are not rendering properly.
For example,

[code]

*Output:*

![Capture](https://user-images.githubusercontent.com/33627611/83356189-4d5f3980-a332-11ea-9366-01f1d64de153.PNG)

Ticket created in: https://github.com/metanorma/metanorma-itu/issues/212

[2020-05-31 15:40] manuelfuenmayor commented on #105
@anermina , I'm getting issues related with fetching. When I compile, it says:
[code]
Could you please confirm the fetching function is working properly?
For instance, this error occurred to me with [G.191.adoc](https://raw.githubusercontent.com/metanorma/mn-samples-itu/master/sources/G.191.adoc) (among others).

Thanks!

[2020-05-31 15:44] manuelfuenmayor commented on #105
Oh, and apparently these changes have not been incorporated in the last release yet. So you'll have to update directly from metanorma-itu repository.

[2020-06-01 00:48] opoudjis commented on #105
And just as well they haven't :( Really surprised, but OK, I'm prioritising.

[2020-06-04 22:17] anermina commented on #105
I'm not getting any bibliography-related issues when using metanorma-itu for G.191. Will check for other documents as well.

[2020-06-04 22:55] manuelfuenmayor commented on #105
It's ok @anermina. I can fetch properly now after executing the latest update. Thanks!

[2020-06-04 22:58] manuelfuenmayor commented on #105
By the way, I also have found this new issue:

![Capture4](https://user-images.githubusercontent.com/33627611/83778839-39307a80-a659-11ea-8834-857fde101ea0.PNG)
(The identifiers are getting separated in lines)
I have informed Nick already in https://github.com/metanorma/metanorma-itu/issues/212#issuecomment-638941609.

[2020-06-05 17:54] anermina commented on #85
I updated document attributes in order to use hierarchical numbering, which could enable having the same output as in the original document, without impacting other ITU documents. However, document attribute `:hierarchical-object-numbering:` seems not to be working, so I opened a new ticket (https://github.com/metanorma/metanorma-itu/issues/217). Closing this one.

[2020-06-05 17:54] #85 closed, assigned to ronaldtse

[2020-06-06 13:48] manuelfuenmayor commented on #105
All good now! Closing.

[2020-06-06 13:48] #105 closed, assigned to manuelfuenmayor, anermina

[2020-06-08 17:24] anermina commented on #96
Pending due to rendering issues: https://github.com/metanorma/metanorma-iso/issues/395.

[2020-06-14 06:58] ronaldtse opened #112 "Install Times New Roman fonts for ITU"
ITU uses Times New Roman fonts, but they are not available on the PDF layouts in the output.

Please use https://github.com/fontist/fontist to install the necessary fonts.

[2020-06-17 18:25] ronaldtse commented on #112
Ping @CAMOBAP . Thanks!

[2020-07-03 17:34] ronaldtse commented on #112
This can be closed when `metanorma setup` is used here.

[2020-07-03 17:52] CAMOBAP commented on #112
@ronaldtse yep, each flow except windows have it, so I think we can close this

[2020-07-03 17:52] #112 closed, assigned to CAMOBAP

[2020-07-12 20:23] anermina commented on #96
Converted in #116 .

[2020-07-12 20:23] #96 closed, assigned to anermina

[2020-07-12 20:35] anermina opened #117 "Capital letters in table headings"
All words in table headings are automatically written with capital letter, which isn't correct in some cases. Following example with metric units illustrates the issue.

![image](https://user-images.githubusercontent.com/55683568/87256035-e59f2100-c48f-11ea-8fbd-caae37472079.png)

[2020-08-03 14:08] opoudjis commented on #117
@anermina I cannot find this example in the mn-samples-itu contents: can you give me an example?

[2020-08-03 19:34] anermina commented on #117
@opoudjis sure, example is attached.
[table_test.zip](https://github.com/metanorma/mn-samples-itu/files/5018068/table_test.zip)

[2020-09-01 15:14] opoudjis commented on #117
I've mistakenly used `titlecase`, the spec is clear that only the first word of the heading should be capitalised, and that is `capitalize`

[2020-09-01 15:18] #117 closed, assigned to opoudjis

[2020-11-09 14:28] ronaldtse opened #122 "Create sample for Technical Papers"
* https://www.itu.int/pub/T-TUT-FSTP-2020-ACC.WEBVRI
* https://www.itu.int/pub/T-TUT-L-2020-GLR
* https://www.itu.int/pub/T-TUT-CABLETV-2020

[2020-11-09 16:04] ronaldtse opened #123 "Create samples for Technical Reports"
* https://www.itu.int/pub/T-TUT-CCICT-2017
* https://www.itu.int/pub/T-TUT-CCICT-2015

A number of technical reports are not officially published in Doc.

[2020-11-09 16:05] ronaldtse opened #124 "Create sample for P.Imp863 : Implementer's Guide 2 for Recommendation ITU-T P.863"
https://www.itu.int/rec/T-REC-P.Imp863-201912-I

[2020-11-09 16:06] ronaldtse opened #125 "Create sample P.Imp863 : Implementers' guide for P.863"
https://www.itu.int/rec/T-REC-P.Imp863-201805-I

[2020-11-09 16:07] ronaldtse opened #126 "Create sample: H.Imp248 : Implementors' Guide for the H.248 Sub-series of Recommendations ("Media Gateway Control Protocol")"
https://www.itu.int/rec/T-REC-H.Imp248-201710-I

NOTE: This is an implementers guide to a "series".

[2020-11-09 16:08] ronaldtse opened #127 "Create sample: G.Imp8001 : Implementers' guide for Recommendation ITU-T G.8001/Y.1354 (2020)"
https://www.itu.int/rec/T-REC-G.Imp8001-202002-I/en

[2020-11-09 18:21] ronaldtse commented on #81
@anermina can we keep both versions so we have a draft and also a published copy? Thanks!

[2020-11-10 03:31] anermina commented on #122
Converted in #128 . Closing.

[2020-11-10 03:31] #122 closed, assigned to anermina

[2020-11-22 15:09] anermina commented on #81
Thanks @ronaldtse . Sure, both versions are now added via https://github.com/metanorma/mn-samples-itu/pull/130. Closing.

[2020-11-22 15:09] #81 closed, assigned to ronaldtse

[2020-11-26 00:35] anermina commented on #123
Created in https://github.com/metanorma/mn-samples-itu/pull/131. Closing.

[2020-11-26 00:35] #123 closed, assigned to anermina

[2021-01-08 21:22] anermina commented on #127
Added in #134. Closing.

[2021-01-08 21:22] #127 closed, assigned to anermina

[2021-01-08 21:24] anermina commented on #125
Added in #135 . Closing.

[2021-01-08 21:24] #125 closed, assigned to anermina

[2021-01-08 21:59] anermina commented on #124
Added in #135 . Closing.

[2021-01-08 21:59] #124 closed, assigned to anermina

[2021-03-06 19:05] CAMOBAP opened #138 "Error: multiple instances of same ID"
https://github.com/metanorma/mn-samples-itu/runs/2040568410?check_suite_focus=true#step:5:39214

[code]

@ronaldtse could you please assign it to someone who familiar with it? If not, I can dig into it

Similar to https://github.com/metanorma/mn-samples-ietf/issues/43

[2021-03-07 04:58] ronaldtse commented on #138
@metanorma/editors  can you have a look here? Seems that there’s an identical anchor used. Thanks!

[2021-03-07 13:35] anermina commented on #138
Issue is fixed in https://github.com/metanorma/mn-samples-itu/pull/139. Closing.

[2021-03-07 13:35] #138 closed, assigned to manuelfuenmayor, anermina

[2021-03-08 01:40] ronaldtse opened #140 "How to cite ITU Recommendation Annexes?"
Question for @andrew2net . The mn-samples-itu STL-manual.adoc has these references to Annexes, but they are not auto-fetched. What is the correct notation cite an ITU Recommendation Annex? Thanks.

[code]

[2021-03-08 05:50] ronaldtse opened #141 "Re-enable T-TUT-CCIT-* documents"
Both T-TUT-CCIT-* documents have been commented out in `metanorma.yml` because compilation fails with this message:

[code]

Then metanorma crashes at this point with a non-zero return code.

[2021-03-08 06:19] #141 closed, assigned to opoudjis

[2021-03-08 06:20] ronaldtse commented on #141
Will seek clarification from ITU as well.

[2021-03-08 12:04] andrew2net commented on #140
ITU-T G.726 Annex A
ITU-T G.727 Annex A
ITU-T G.728 Annex G
ITU-T G.728 Annex I
ITU-T P.50

[2021-03-08 12:27] #140 closed, assigned to andrew2net

[2021-03-08 12:29] ronaldtse commented on #140
Thanks @andrew2net !

[2021-03-08 12:29] ronaldtse commented on #126
Ping @anermina on progress, thanks.

[2021-03-08 22:48] anermina commented on #126
Converted in #142.
After reviewing generation of strikethrough and underlined text, I will open a new ticket to address the noticed issue, if needed.
Closing this one.

[2021-03-08 22:48] #126 closed, assigned to anermina

[2022-09-12 06:00] bquast opened #147 "`make` command does not build samples"
Hello,

Thank you for this project. I really like it. Unfortunately, I missed the presentation you gave at ITU in 2019. But I definitely want to make use this (see how we can use it ourselves).\

When I run `make`, I get:

[code]

the output of `bundle` was:

[code]

[2022-09-12 06:04] bquast commented on #147
As a sidenote, it would be really interesting to use the built in workflow of GitHub or GitLab pages.

Jekyll (GitHub Pages) could work with jekyll-asciidoc (by asciidoctor), but it is not supported (I created an issue with GitHub Pages: https://github.com/github/pages-gem/issues/847).

On GitLab Pages, Hugo has near-native support for asciidoctor (Ruby needs to be installed, and then the asciidoc

[2022-09-12 08:10] ronaldtse commented on #147
@bquast thanks for raising this! The method of execution of this repository has changed since 2019 so it no longer uses Make.

Metanorma also supports GitHub Pages and GitLab Pages. You could adopt from our workflows or other SDOs, e.g. OGC. We have a guide on how to use [Metanorma with CI/CD](https://www.metanorma.org/install/cicd/).

There are two general ways to run Metanorma:

* For the develo

[2022-09-12 08:12] ronaldtse opened #148 "Error when compiling `sources/STL-manual.adoc`"
This error is raised when compiling `sources/STL-manual.adoc`.

[code]

[2022-09-12 08:13] bquast opened #149 "Error when compiling G.191: `undefined method [] for #<IO:<STDOUT>> (NoMethodError)`"
[code]

[2022-09-12 08:15] bquast commented on #149
Hello, this is an error I get on ArchLinux. It seems to be LaTeX related? I was trying to export to HTML. I tried on MacOS and didn't get this issue. Any thoughts?

[2022-09-12 08:16] bquast commented on #149
I'll try with Darling soon  (takes a while to build) https://www.darlinghq.org/

[2022-09-12 08:23] ronaldtse commented on #149
This is a font missing issue. We use a font system called Fontist, it works on several linux flavors but not sure about ArchLinux. Can you try rerunning the command with:

[code]

?

[2022-09-12 11:25] ronaldtse commented on #149
@bquast if ArchLinux is the system that you will use, we will need to officially support it as a platform. Is this a case?

[2022-09-12 12:09] bquast commented on #147
Awesome, thank you. I will do that.

[2022-09-18 11:11] bquast commented on #149
Dear colleagues,

Thank you for all this work, and taking the time to look at my issue. Indeed I use Arch, but open to use another system. I was just trying to get it running for now. But ITU has given me a Mac Pro to also build these. It would still be good to get it running in general.

I checked the font. Please have a look at the 3 version I have installed (at the bottom of this list)

[code]

[2022-09-18 11:13] bquast commented on #149
Ok adding the flag `--agree-to-terms` works:

[code]

How is this. Is there anyway to permanently agree to the terms, to avoid needing the flag?

[2022-09-18 11:15] bquast commented on #149
ps. adding this

[code]

[2022-09-19 01:31] ronaldtse commented on #149
@bquast

This output indicates a successful compilation of the document.

ITU requires the "Times New Roman" and "Courier" fonts for rendering. These fonts are only provided by default on Windows, they typically require additional installation on Linux or macOS (newer macOSes do come with these fonts licensed from Microsoft).

For Linux and macOS, these two fonts are distributed by Microsoft under

[2022-09-19 03:09] ronaldtse commented on #149
If the necessary fonts (i.e. without passing `--agree-to-terms` are not found by Fontist, Metanorma will use Noto but default, and mn2pdf by default includes Noto:
https://github.com/metanorma/mn2pdf/blob/7b3313c5dd2aa4d724f56aa19ebf9ab29e633e32/src/main/resources/app.properties#L11

In this case, I am not sure why Noto is not dynamically download by mn2pdf on Arch, or why Fontist cannot detect th

[2022-09-19 09:13] ronaldtse commented on #149
I suspect that the error shows up when running Arch linux in headless mode, which may have caused the error.

I tried to re-produce the problem on Docker:
[code]

[code]

I was asked 2 times to enter "YES" in order to install the Microsoft fonts. In headless mode, I suspect the prompts don't get displayed properly?

Maybe we need to detect whether there is a terminal attached and then just fail ou

[2022-09-19 11:26] ronaldtse opened #150 "Add archlinux docker GHA workflow for mn-samples-itu as it is an ITU supported platform"
Starting the container:
[code]

Running the samples:
[code]

[2022-09-20 01:31] #150 closed, assigned to CAMOBAP

[2022-09-20 01:39] ronaldtse opened #152 "PDFs failed to compile on Arch Linux"
As #150 is completed, it seems that PDFs failed to be generated on Arch Linux.
* https://github.com/metanorma/mn-samples-itu/actions/runs/3086698559

<img width="326" alt="Screen Shot 2022-09-20 at 9 39 02 AM" src="https://user-images.githubusercontent.com/11865/191148421-8488aca6-519a-4558-8f71-ea11565bf08d.png">

The corresponding build on the Metanorma Docker container (Ubuntu) works:
* https:/

[2022-09-20 01:46] ronaldtse commented on #149
As a follow up to this issue, I have created a GitHub Actions build for ArchLinux (#150, #151 ), but the PDFs were not able to be generated.

Unfortunately I am on an Apple M1, which is not supported by Arch Linux Docker images (Arch Linux only supports amd64). Using the amd64 cross-platform Docker image on M1 is hampered by the (probably now well known) serious OpenJDK problem on Docker that hang

[2022-09-20 06:13] Intelligent2013 commented on #152
@ronaldtse We've had this issue in the past, https://github.com/metanorma/mn2pdf-ruby/issues/10 re-opened.

[2022-09-20 07:12] ronaldtse commented on #152
Thanks @Intelligent2013 !

Do you know what the issue with generating the PDFs is?

[2022-09-20 07:25] Intelligent2013 commented on #152
@ronaldtse in progress yet....

[2022-09-20 07:46] Intelligent2013 commented on #152
Strange error occurs `java.lang.NullPointerException: Cannot load from short array because "sun.awt.FontConfiguration.head" is null`:
[code]

I need time for investigation.

[2022-09-20 08:31] ronaldtse commented on #152
Looks like it couldn't find fonts?

[2022-09-20 08:50] Intelligent2013 commented on #152
Looks like there is issue in the linux fonts sub-system (`fontconfig`).
I've tried:
- `fc-list`
  - `command not found`
- `yes | pacman -Sy fontconfig`
- `fc-list`
   - nothing in the output
- run `mn2pdf`
    - `java.lang.NullPointerException: Cannot load from short array because "sun.awt.FontConfiguration.head" is null`
- `yes | pacman -Sy ttf-dejavu`
- `fc-list`
    - `/usr/share/fonts/TTF/Deja

[2022-09-20 09:07] ronaldtse commented on #152
Does this mean that we have to install fontconfig and also one `ttf-*` file for it to work?

[2022-09-20 09:08] ronaldtse commented on #152
In this case can we implement a check to detect whether:
1. Does fontconfig exists? If not mn2pdf will fail?
2. If fontconfig exists but there is no font, mn2pdf should still work because it downloads the default fonts?

[2022-09-20 09:11] Intelligent2013 commented on #152
I've tried simple Java console program from https://blog.adoptopenjdk.net/2021/01/prerequisites-for-font-support-in-adoptopenjdk/ :
[code]

On Archlinux:
- without `fontconfig` and `ttf-dejavu`:
`Exception in thread "main" java.lang.NullPointerException: Cannot load from short array because "sun.awt.FontConfiguration.head" is null`
- with installed `fontconfig` and `ttf-dejavu`:
[code]

So, `fontc

[2022-09-20 09:15] Intelligent2013 commented on #152
I think we can add a check for fontconfig existing, if it doesn't exist, then mn2pdf will exit with error.

No, because mn2pdf doesn't register fonts in the OS. One font as minimum should be installed in the system.

[2022-09-20 09:16] ronaldtse commented on #152
Thanks @Intelligent2013 ! I've made #153 to address this.

[2022-09-20 12:42] maxirmx commented on #149
If it is 'true' headless mode when there is no terminal attached metanorma terminates with an exception
For example when I run ```nohup metanorma site generate &```  I terminates with
[code]

In detached mode like  ```metanorma site generate &```  the process is still attached to the terminal
However, when console io is attempted it terminates with
[code]

[2022-09-20 13:00] maxirmx commented on #149
So, in fontist I will handle SIGTTOU, SIGTTIN  as well as EBADF exception and will fail gracefully

[2022-09-21 01:27] #152 closed, assigned to Intelligent2013

[2022-09-21 01:29] ronaldtse commented on #149
@bquast In #153 we have ensured that PDFs generated on Arch Linux are correct:
https://github.com/metanorma/mn-samples-itu/actions/runs/3088899330

See how they look like by downloading the "site" artifact:
<img width="419" alt="Screen Shot 2022-09-21 at 9 28 51 AM" src="https://user-images.githubusercontent.com/11865/191393964-afb54829-a9f6-455c-bdfe-4f87d4738b6c.png">

Please feel free to refer

[2022-09-21 01:30] ronaldtse opened #154 "Add setup instructions for Arch Linux (Docker, Ruby install)"
Document the necessary prerequisites on Arch Linux:

https://github.com/metanorma/mn-samples-itu/blob/b98f1208897fe1ad812b5b016fe30bf201a31528/.github/workflows/archlinux.yml#L19-L26

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-samples-itu/issues/149#issuecomment-1253095800_

[2022-09-21 01:30] #149 closed, assigned to maxirmx, CAMOBAP

[2022-09-21 01:32] ronaldtse commented on #147
@bquast On Arch Linux, the correct setup steps are now provided in #149 which are:

https://github.com/metanorma/mn-samples-itu/blob/b98f1208897fe1ad812b5b016fe30bf201a31528/.github/workflows/archlinux.yml#L19-L26

To build all the PDFs, run the `metanorma site generate --agree-to-terms` command:

https://github.com/metanorma/mn-samples-itu/blob/b98f1208897fe1ad812b5b016fe30bf201a31528/.github/wor

[2022-09-21 01:32] #147 closed, assigned to nobody

[2022-09-21 01:33] ronaldtse commented on #148
This is still a real issue.

[2022-09-21 03:54] ronaldtse commented on #149
Thank you @maxirmx !

[2022-09-21 03:57] ronaldtse commented on #149
@maxirmx I've created fontist/fontist#305 to handle the Fontist issue.

[2022-09-25 09:39] opoudjis commented on #148
Yes, and I have a backlog. Just alighted on this.

[2022-09-25 10:06] opoudjis commented on #148
Unnumbered code snippet, which means that its label is missing, but figure processing is adding subfigure label to the label, if present.

This was fixed in isodoc, but needs to be fixed in all flavours that customise its behaviour, and have kept old code.

[2022-09-25 11:24] #148 closed, assigned to opoudjis

[2022-10-03 18:22] bquast commented on #149
Thank you very much. That works well for me. Nothing further from my side.

Cheers,
Bastiaan

[2022-10-03 19:08] bquast commented on #149
ps. the update pacman repos should be `-Syu` right? not `-Sy` ?

[2022-10-03 19:10] ronaldtse commented on #149
@bquast you are likely correct. Thanks!

[2022-10-14 17:18] bquast opened #155 "ITU-WHO Focus Group on AI for Health deliverables"
The ITU-WHO (World Health Organization) Focus Group on Artificial Intelligence for Health (FG-AI4H), which as been active since 2018 has started publishing its deliverables:

https://www.itu.int/pub/T-FG-AI4H

Perhaps the word versions can serve as a basis for AsciiDoc? I'm asking about epub (i.e. HTML) or other "upstream" encodings.

[2022-10-14 17:22] ronaldtse commented on #155
@bquast thanks for the suggestion, we're happy to add this example:
* [T-FG-AI4H-2022-MSW-E.docx](https://github.com/metanorma/mn-samples-itu/files/9788676/T-FG-AI4H-2022-MSW-E.docx)
* [T-FG-AI4H-2022-PDF-E.pdf](https://github.com/metanorma/mn-samples-itu/files/9788680/T-FG-AI4H-2022-PDF-E.pdf)

This is only 2022, is this the appropriate copy to convert?

[2022-10-14 17:46] ronaldtse commented on #155
@metanorma/editors can you please help add this document as an example? Thanks!

[2022-10-16 19:31] anermina opened #157 "Remove deprecated attributes"
Remove deprecated attributes `docfile` and `data-uri-image` from the sample documents.

[2022-10-20 06:25] bquast commented on #155
Dear @ronaldtse yes that is the only copy, it was just released (it was approved at the 15th meeting in Berlin, May-June 2022).

[2022-10-20 06:28] bquast commented on #149
BTW, following this discussion, and a comment by my colleague @maadolph, the TSB (secretariat for ITU-T) made a comment on the new proposed template (for all ITU -R -T and -D Recommendations). We noted that the font proposed was a gratis-free, but not libre-free font, and that this would cause problems. Based on this, the proposed template was modified to use a libre font.

[2022-10-20 06:48] ronaldtse commented on #149
@bquast @maadolph the decision to use a libre font would be very welcome! Does the TSB have a particular font in mind? Any font found on [Google Fonts](https://fonts.google.com) would work great.

Ideally, as ITU has 6 official languages, a font that supports all those 6 languages would work best:
* Latin (English, French, Spanish)
* Cyrillic (Russian)
* Arabic
* CJK (Chinese)

However, there is o

[2022-10-20 17:02] ronaldtse opened #158 "Remaining issues in ITU-WHO T-FG-AI4H document"
From @anermina at https://github.com/metanorma/mn-samples-itu/pull/156:

* "References" title has been changed to "Bibliography", because "References" is used for normative references, which cannot have a numeric identifier in ITU flavor. All the references here have a numeric identifier.

Opened tickets:
* [x] https://github.com/metanorma/metanorma-itu/issues/333
* [x] https://github.com/metanorm

[2022-10-20 17:03] ronaldtse commented on #155
Thanks @bquast , the document is now encoded in #156 . Closing.

[2022-10-20 17:03] #155 closed, assigned to manuelfuenmayor, anermina

[2022-10-21 10:12] bquast commented on #155
@ronaldtse thank you very much! this is great